body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c999e;
}


#fantasyForm {
    text-align: center;
    background-color: rgb(65, 125, 204);
    margin: 80px;
    padding: 50px;
    border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

*, ::after, ::before {
    box-sizing: border-box;
 } 

.btn-light {
    margin-top: 10px;
    padding: 10px 10px;
    font-size: 1rem;
    border: none;
    border-radius: 3px;
    background: #0400f3;
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn-light:hover {
    background: #ffffff;
    transform: scale(1.1);
}

h1 {
    font-family: "jurriaan-3d-shaded", sans-serif;
    font-size: 90px;
        font-weight: 400;
        font-style: normal;
        margin-top: 20px;
}

p {
font-family: "gimlet-display", serif;
font-size: 30px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
}
